apiVersion: v1
kind: ConfigMap
metadata:
  name: glauth-config
data:
{{- if .Values.backend.file }}
  config.cfg: |-
{{ .Files.Get .Values.backend.file | indent 4 }}
{{- else if eq .Values.backend.type "config" }}
  config.cfg: |-
{{ .Files.Get "config/sample-simple.cfg" | indent 4 }}
{{- else if eq .Values.backend.type "database" }}
  config.cfg: |-
{{ .Files.Get "config/sample-database.cfg" | indent 4 }}
{{- end}}